
.todoList {
  overflow:hidden; overflow-y:scroll;
  height:90%; width:90%;
}
.todoList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  width: 95%; 
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;

  list-style: none;
}
